@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Noe_Display";
  src: url(../ttf/Noe_Display_Medium.ttf);
}
h1 {
  font-family: "Noe_Display";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 92px;
  letter-spacing: 0.02em;
  color: #222831;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
    line-height: 51px;
  }
}
h2 {
  font-family: "Noe_Display";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #222831;
}

@media (max-width: 700px) {
  h2 {
    font-size: 24px;
    line-height: 140%;
  }
}
h3 {
  font-family: "Noe_Display";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #222831;
}

@media (max-width: 700px) {
  h3 {
    font-size: 24px;
    line-height: 140%;
  }
}
P {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #222831;
}

a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #222831;
  text-decoration: underline;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #222831;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .date {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.link_line {
  border-bottom: 0.125em solid #222831;
  position: relative;
  text-decoration: none;
  transition: color 0.2s;
}
.link_line:after {
  background-color: #717171;
  bottom: -0.125em;
  content: "";
  display: inline-block;
  left: 0;
  opacity: 0;
  position: absolute;
  height: 0.125em;
  transition: width 0.4s;
  width: 1px;
}
.link_line:hover, .link_line:focus, .link_line:active {
  color: #717171;
  cursor: pointer;
}
.link_line:hover:after, .link_line:focus:after, .link_line:active:after {
  opacity: 1;
  width: 100%;
}

.small_heading {
  margin-top: 5px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 700px) {
  .small_heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
  }
}
.container_nav {
  margin: 0 auto;
  padding: 20px 6.25vw 20px 6.25vw;
  color: #222831;
}

.wrapper1 {
  display: flex;
  justify-content: space-between;
}

.right1 {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.right1 .telephone_numb {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #222831;
  font-size: 18px;
}
.right1 .btn_menu {
  border: 1px solid #222831;
  background-color: #fff;
  padding: 16px 46px;
  margin-left: 114px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  white-space: nowrap;
}
.right1 .btn_menu:hover {
  color: white;
  background-color: #222831;
  transition: all 0.5s ease 0s;
}
.right1 .btn_menu:active {
  background-color: #222831;
  transition: all 0.5s ease 0s;
}

.header1 {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header_body {
  position: relative;
  display: flex;
  height: 80px;
  align-items: center;
}

.header_logo {
  position: relative;
  z-index: 3;
}

.header_logo img {
  max-width: 100%;
  display: block;
}

.header_burger {
  display: none;
}

.header_menu {
  margin-left: 60px;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header_list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header_link {
  margin-right: 40px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .container_nav {
    padding: 20px 5vw 20px 5vw;
  }

  .wrapper1 {
    display: block;
  }

  .right1 {
    display: none;
  }

  .header_body {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header_burger span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before,
.header_burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active span {
    transform: scale(0);
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    margin-left: 0px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header_menu.active {
    top: 0;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    margin: 0 0 30px 0;
  }

  .header_list.active {
    top: 30%;
  }

  .header_link {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-decoration: underline;
  }
}
.main_block {
  background-image: url(../img/main-img.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-left: 6.25vw;
  margin-bottom: 200px;
}
.main_block h1 {
  color: #fff;
  text-align: center;
}

@media (max-width: 700px) {
  .main_block {
    margin-left: 0;
    margin-bottom: 80px;
    height: 137.5vw;
    width: 100%;
  }
}
.container {
  margin: 0 auto;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

@media (max-width: 700px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
.welcome {
  display: flex;
  align-items: flex-start;
  margin-bottom: 200px;
}

@media (max-width: 700px) {
  .welcome {
    display: block;
    margin-bottom: 0;
  }
}
.left {
  padding-left: 5.63vw;
}

@media (max-width: 700px) {
  .left {
    padding-left: 0;
  }
}
.right {
  padding-left: 6.25vw;
}

@media (max-width: 700px) {
  .right {
    padding-left: 0;
  }
}
.welcome__heading {
  width: 50%;
}

@media (max-width: 700px) {
  .welcome__heading {
    width: 100%;
    margin-bottom: 15px;
  }
}
.welcome__description {
  width: 50%;
}

@media (max-width: 700px) {
  .welcome__description {
    width: 100%;
  }
}
.welcome__description p {
  max-width: 480px;
}

.location {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

@media (max-width: 700px) {
  .location {
    display: block;
    margin-top: 80px;
  }
}
.map {
  width: 50%;
  height: 48.13vw;
}

@media (max-width: 700px) {
  .map {
    width: 100%;
    height: 102.5vw;
  }
}
.location__description {
  width: 50%;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.location__description p {
  margin-top: 40px;
}

@media (max-width: 700px) {
  .location__description {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }

  .location__description p {
    margin-top: 10px;
  }

  .location__description h2 {
    width: 80%;
  }
}
.timelist {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.timelist .line {
  margin-right: 50px;
  margin-left: 57px;
}

.timelist2 {
  display: flex;
  margin-top: 35px;
  align-items: center;
}
.timelist2 .line2 {
  margin-right: 50px;
  margin-left: 47px;
}
.timelist2 .line3 {
  margin-right: 50px;
  margin-left: 35px;
}

hr {
  border: none;
  background-color: #222831;
  height: 1px;
  width: 40px;
}

@media (max-width: 700px) {
  .timelist {
    margin-top: 20px;
  }

  .timelist2 {
    margin-top: 16px;
  }
}
.advantages {
  display: flex;
  margin-bottom: 200px;
}

@media (max-width: 700px) {
  .advantages {
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.adv__heading {
  width: 35%;
}

@media (max-width: 700px) {
  .adv__heading {
    width: 100%;
  }
}
.spisok {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
  row-gap: 30px;
}

@media (max-width: 700px) {
  .spisok {
    display: block;
    margin-top: 10px;
    margin-left: 5vw;
  }
}
.spisok li {
  list-style-type: disc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 700px) {
  .spisok li {
    margin-top: 20px;
  }
}
.apartments {
  display: flex;
  align-items: center;
  margin-bottom: 96px;
  margin-top: 200px;
}
.apartments .bed_photo {
  width: 50%;
}
.apartments .apartments_description {
  width: 50%;
}
.apartments .apartments_description .paragraph {
  width: 80%;
  margin-bottom: 35px;
}

@media (max-width: 700px) {
  .apartments {
    display: block;
    margin-bottom: 80px;
    margin-top: 100px;
  }
  .apartments .bed_photo {
    width: 100%;
  }
  .apartments .apartments_description {
    width: 100%;
    margin-top: 30px;
  }
  .apartments .apartments_description .paragraph {
    margin-bottom: 20px;
  }
}
.penthouse {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}
.penthouse .penthouse_description {
  width: 50%;
}
.penthouse .penthouse_description .paragraph {
  width: 80%;
  margin-bottom: 35px;
}
.penthouse .chairs_photo {
  width: 50%;
}

@media (max-width: 700px) {
  .penthouse {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  .penthouse .penthouse_description {
    width: 100%;
    margin-bottom: 30px;
  }
  .penthouse .penthouse_description .paragraph {
    width: 100%;
  }
  .penthouse .chairs_photo {
    width: 100%;
    margin-bottom: 20px;
  }
}
.true_luxury {
  display: flex;
  margin-bottom: 100px;
}
.true_luxury .true_luxury_heading {
  width: 50%;
}
.true_luxury .true_luxury_heading h3 {
  max-width: 450px;
}
.true_luxury .true_luxury_desc {
  width: 50%;
}
.true_luxury .true_luxury_desc p {
  max-width: 433px;
}

@media (max-width: 700px) {
  .true_luxury {
    display: block;
    margin-bottom: 30px;
  }
  .true_luxury .true_luxury_heading {
    width: 80%;
    margin-bottom: 15px;
  }
  .true_luxury .true_luxury_heading h3 {
    max-width: none;
  }
  .true_luxury .true_luxury_desc {
    width: 100%;
  }
  .true_luxury .true_luxury_desc p {
    max-width: none;
  }
}
.cover_coaches {
  margin-bottom: 200px;
}

@media (max-width: 700px) {
  .cover_coaches {
    margin-bottom: 80px;
  }
}
.tech_parametrs {
  display: flex;
  margin-bottom: 250px;
}
.tech_parametrs .grid_body {
  padding-left: 7.813vw;
  display: grid;
  grid-template-columns: 26% 24% 27%;
  column-gap: 70px;
  row-gap: 75px;
}
.tech_parametrs .grid_body .listsecond {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.tech_parametrs .grid_body .listsecond .listsecondtext {
  padding-top: 10px;
}

.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border-top: 1px solid #e0e0e0;
}
.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
}

.accordion dd,
.accordion__panel {
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 0 1em 0;
}

.accordion {
  margin-top: 14px;
  position: relative;
  display: none;
}

.accordionTitle,
.accordion__Heading {
  background-color: #fff;
  text-align: left;
  font-weight: 700;
  padding: 2em 0 2em 0;
  display: block;
  text-decoration: none;
  color: #222831;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #e3e3e3;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: right;
  transition: transform 0.3s ease-in-out;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
@media (max-width: 700px) {
  .tech_parametrs {
    display: block;
    margin-bottom: 100px;
  }
  .tech_parametrs h3 {
    max-width: 100px;
  }
  .tech_parametrs .grid_body {
    display: none;
  }
  .tech_parametrs .accordion {
    display: block;
  }
}
.header {
  background: #fff;
  overflow: hidden;
  height: 65px;
  position: relative;
  margin-bottom: 120px;
}
.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 65px;
  transform: translate(100%, 0);
}
.header .ticker-wrapper__first-half,
.header .ticker-wrapper__second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  animation: ticker 30s infinite linear forwards;
}
.header .ticker-wrapper__second-half {
  animation: 30s ticker 15s infinite linear forwards;
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@media (max-width: 700px) {
  .header {
    background: #fff;
    overflow: hidden;
    height: 65px;
    position: relative;
    margin-bottom: 250px;
  }
  .header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 65px;
    transform: translate(100%, 0);
  }
  .header img {
    width: 220px;
  }
  .header .ticker-wrapper__first-half,
.header .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 30s infinite linear forwards;
    width: 800px;
  }
  .header .ticker-wrapper__second-half {
    animation: 30s ticker 15s infinite linear forwards;
  }

  @keyframes ticker {
    0% {
      transform: translate(100%, 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
.stay_inf {
  width: 40%;
  margin-bottom: 57px;
}
.stay_inf .small_heading {
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  .stay_inf {
    width: 100%;
    margin-bottom: 40px;
  }
  .stay_inf .small_heading {
    margin-bottom: 20px;
  }
}
.photo_dates {
  display: flex;
  margin-bottom: 200px;
}
.photo_dates .wall_picture {
  max-width: 600px;
}
.photo_dates .date {
  margin-top: 30px;
}
.photo_dates .small_heading {
  margin: 0;
}

.miniphoto {
  display: flex;
  margin-bottom: 51px;
}
.miniphoto .miniphoto_description {
  margin-left: 2.5vw;
}
.miniphoto .miniphoto_description .date {
  margin-top: 0;
}

@media (max-width: 700px) {
  .photo_dates {
    display: block;
    margin-bottom: 80px;
  }
  .photo_dates .wall_picture {
    width: 100%;
    margin-bottom: 50px;
  }
  .photo_dates .date {
    margin-top: 10px;
  }
  .photo_dates .small_heading {
    margin: 0;
    font-weight: 600;
  }

  .miniphoto {
    display: block;
    margin-bottom: 50px;
  }
  .miniphoto img {
    width: 100%;
  }
  .miniphoto .miniphoto_description {
    margin-left: 0;
  }
  .miniphoto .miniphoto_description .date {
    margin-top: 10px;
  }
}
.feedback {
  margin-bottom: 150px;
  display: flex;
}

.request_form {
  width: 50%;
}

.group {
  position: relative;
  margin-bottom: 30px;
  margin-top: 35px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 410px;
  border: none;
  border-bottom: 1px solid #717171;
}

input:focus {
  outline: none;
}

label {
  color: #717171;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  top: 15px;
  transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #717171;
}

.bar {
  position: relative;
  display: block;
  width: 410px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #717171;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.btn_menu2 {
  border: 1px solid #222831;
  background-color: #fff;
  padding: 16px 46px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  white-space: nowrap;
}

.contact_inf {
  margin-top: 80px;
  display: flex;
}
.contact_inf .tel {
  margin-top: 20px;
}
.contact_inf .contact_inf_desc {
  color: #222831;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}
.contact_inf .adress {
  margin-left: 50px;
}
.contact_inf .adress .adr {
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .feedback {
    display: block;
    margin-bottom: 80px;
  }

  .request_form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .bar {
    width: 100%;
  }

  .contact_inf {
    margin-top: 60px;
    display: block;
  }
  .contact_inf .adress {
    margin-left: 0;
  }
  .contact_inf .adress .adr {
    margin-top: 40px;
  }
}
.footer {
  background: #393e46;
  height: 100px;
}
.footer .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container p {
  color: #fff;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 6.25vw;
}

.swiper-slide {
  background: #000;
  width: 80%;
}